
<!doctype html>
<html lang="en">
  <head>
  	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46847932-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-46847932-3');
	</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Usługi Frontendowe</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="homepage.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light page">
        <a class="navbar-brand" href="#home">UF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item page">
              <a class="nav-link" href="#home">Home</a>
               </li>
            <li class="nav-item page">
              <a class="nav-link" href="#oferta">Oferta</a>
            </li>
            <li class="nav-item page">
              <a class="nav-link" href="#kontakt">Kontakt</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="img/1517x512homepage3.jpg" alt="Pierwszy Slide">
            <div class="container" id="home">
              <div class="carousel-caption text-left">
                <h1>Usługi Frontendowe.</h1>
                <p>Sklepy Internetowe, strony www, blogi na wordpress i szablony allegro pod indywidualne zamówienie klienta.</p>
                <p class="page"><a class="btn btn-lg btn-dark" href="#kontakt" role="button">Kontakt</a></p>
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item">
            <img class="second-slide" src="https://images.pexels.com/photos/33242/cooking-ingredient-cuisine-kitchen.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Second slide" width="1519" height="512">
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Zobacz Więcej</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="https://images.pexels.com/photos/691114/pexels-photo-691114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Third slide" width="1519" height="512">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Zobacz Więcej</a></p>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span> 
        </a> -->
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing" id="oferta">

        <!-- Three columns of text below the carousel -->
        <div class="row">
        <div class="col-lg-3 text-center">
            <i class="fas fa-shopping-cart fa-7x"></i>
            <h2 class="pt-3">E-sklepy</h2>
            <p class="py-3">Otwierasz działalności i potrzebujesz sklepu internetowego? Z konfiguruję dla Ciebie sklep Internetowy bazujący na sprawdzonym oprogramowaniu takim jak PrestaShop czy Magento.</p>
            <p class="page"><a class="btn btn-secondary" href="#sklepy" role="button">Zobacz więcej &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3 text-center">
            <i class="far fa-file-code fa-7x"></i>
            <h2 class="pt-3">Strony WWW</h2>
            <p class="py-3">Chcesz pokazać swoją firmę w Internecie ale nie wiesz jak? Stworzę dla Ciebie dopasowaną stronę www, która w najlepszy sposób pokarze unikalny charakter twojej działalności.</p>
            <p class="page"><a class="btn btn-secondary" href="#stronaw" role="button">Zobacz więcej &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3 text-center">
            <i class="fas fa-shopping-basket fa-7x"></i>
            <h2 class="pt-3">Szablony Allegro</h2>
            <p class="py-3">Potrzebujesz ładnego i czytelnego szablonu na aukcje Allegro? Robię szablony dostosowana do indywidualnych potrzeb, żadna branża nie jest dla mnie wyzwaniem.</p>
            <p class="page"><a class="btn btn-secondary" href="#allegro" role="button">Zobacz więcej &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3 text-center">
            <i class="fab fa-wordpress-simple fa-7x"></i>
            <h2 class="pt-3">WordPress</h2>
            <p class="py-3">Masz pomysł na bloga lub portal Internetowy, ale nie wiesz od czego zacząć? Zainstaluję i z konfiguruję na serwerze odpowiedni CMS, również pomogę przy wyborze serwera i domeny.</p>
            <p class="page"><a class="btn btn-secondary" href="#wordpress" role="button">Zobacz więcej &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider" id="sklepy">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Sklepy Internetowe.</h2>
            <p class="lead">Zajmuję się instalacją na serwerze oraz konfiguracją odpowiedniego oprogramowania, nie straszę mi PrestaShop i Magento. Konfiguruję również moduły płatności i wszystkie inne potrzebne do sprawnego działania Twojego sklepu Internetowego. Jeżeli nie masz bladego pojęcia jak co funkcjonuję, przeszkolę Cię i twoich pracowników, a sprawy techniczne jak np. pozyskanie domeny mogę załatwić sam.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/500x500-img2.jpg" alt="Obraz 2">
          </div>
        </div>

        <hr class="featurette-divider" id="stronaw">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Strony WWW.</h2>
            <p class="lead">Piszę strony pod Twoje indywidualne potrzeby, dopasowane do każdego urządzenia również mobilnych. Używam najnowszych technologii, takich jak HTML5 i CSS3 oraz Bootstrap. Pomagam również podpiąć pod stronę Google Analitycs.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/500x500-www.jpg" alt="Obraz 1">
          </div>
        </div>

        <hr class="featurette-divider" id="allegro">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Szablony Allegro.</h2>
            <p class="lead">Przygotowuję szablony Allegro do każdej kategorii. Zajmuję się również cięciem na kafelki gotowych grafik i przygotowaniem pliku HTML na potrzeby Allegro. Potrzebujesz pomocy w konfiguracji szablonu po stronie Allegro? Chętnie pomogę!</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/500x500sklepy.jpg" alt="Obraz 2">
          </div>
        </div>

        <hr class="featurette-divider" id="wordpress">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Wordpress i Joomla.</h2>
            <p class="lead">Potrzebujesz bloga lub informacyjnej strony Internetowej? przygotowuję takie strony w oparciu o najpopularniejsze oprogramowanie na rynku czyli Wordpress i Joomla. Portal konfiguruję zgodnie z Twoimi potrzebami, również instaluje niezbędne wtyczki i pomagam podpiąć Google Analitycs.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/500x500-wordpress.jpg" alt="Obra 3">
          </div>
        </div>

        <hr class="featurette-divider" id="kontakt">

        <div class="row featurette" ng-app="myApp">
          <div class="col-md-12">
          	<h2 class="pb-5">Napisz do mnie.</h2>
            <form method="post" action="kontakt.php">
            	<div class="form-group">
			        <label for="field-name">Imię i Nazwisko:</label>
			        <input type="text" class="form-control" name="name" required id="field-name"  placeholder="Twoje Imie" ng-model="myName" required>
			        <span ng-show="myForm.myName.$touched && myForm.myName.$invalid">To pole jest wymagane.</span>
			    </div>
			  <div class="form-group">
			    <label>Adres Email:</label>
			    <input type="email" class="form-control" name="email" placeholder="nazwa@domena.com" ng-model="myEmail" required>
			    <span ng-show="myForm.myEmail.$error.required">Email jest wymagany.</span>
                <span ng-show="myForm.myEmail.$error.myEmail">Niepoprawny format emaila.</span>
			  </div>
			  <div class="form-group">
			    <label>Treść maila:</label>
			    <textarea class="form-control"  rows="3" name="message" placeholder="Tu wpisz treść emaila"></textarea>
			  </div>
			  <p><input class="btn btn-md btn-dark" id="submit" name="submit" type="submit" value="Wyślij Formularz"></p>
			</form>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right page"><a href="#home">Powrót na górę</a></p>
        <p>&copy; 2018 UsługiFrontendowe.</p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://use.fontawesome.com/bc3d716bf5.js"></script>
  </body>
</html>
