<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mateusz Furmanik - Frontend Developer</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
               <span class="page-scroll"><a class="navbar-brand" href="#banner">MF</a><span>
            </div>
            <div id="navbar" class="collapse navbar-right navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="page-scroll"><a href="#banner">Start</a></li>
                    <li class="page-scroll"><a href="#about">O Mnie</a></li>
                    <li class="page-scroll"><a href="#oferta">Oferta</a></li>
                    <li class="page-scroll"><a href="#klienci">Klienici</a></li>
                    <li class="page-scroll"><a href="#contact">Kontakt</a></li>
                    <li><a href="portfolio/index.html" target="_blank">CV</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <section id="banner" class="container-fluid">
        <div class="row">
            <div class="col-md-6 right"></div>
            <div class="col-md-6 left text-center">
                <h1>Tworzę strony i zwiększam konwersję.</h1><button type="button" class="btn btn-default page-scroll"><a href="#contact">Napisz do mnie!</a></button></div>
        </div>
    </section>
    <section id="about" class="container-fluid">

        <h2>O Mnie</h2>
        <div class="row">
            <div class="col-md-offset-2 col-md-8"><i class="fa fa-server fa-5x" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel facilisis nulla. Phasellus semper ante vel
                    nibh fringilla ultrices. Pellentesque sed mi porttitor mauris accumsan scelerisque id quis quam. Donec
                    eu purus quam. Sed volutpat sollicitudin blandit. Nunc vel sodales turpis. Praesent felis lacus, accumsan
                    quis interdum eget, dignissim vitae mi. Integer luctus lacus fermentum orci rutrum blandit. Cras elementum
                    feugiat diam vel congue. Ut scelerisque diam eu nunc porttitor malesuada ut id urna. Ut pellentesque
                    nunc ut purus interdum, vitae tincidunt lorem auctor. Mauris purus eros, egestas vitae porta vel, bibendum
                    mattis lacus. Donec vitae lorem elementum, tempor sapien auctor, varius sapien. Aenean ornare posuere
                    ante. Quisque euismod nibh eu nibh rutrum, sed convallis justo ultrices. Nulla efficitur eros dui, nec
                    auctor risus ullamcorper et. Integer porta, turpis et hendrerit consectetur, ex eros pretium est, vitae
                    lacinia lectus augue et neque. Suspendisse potenti. Nulla bibendum, lorem at luctus aliquet, lorem erat
                    congue sapien, vel sagittis ante mi non velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean a egestas ligula. Fusce magna libero, dapibus at magna vel, malesuada bibendum mauris. Vestibulum
                    ullamcorper egestas posuere. Integer in mi tincidunt erat volutpat euismod at vitae ex.</p>
            </div>
        </div>
    </section>
    <section id="oferta" class="container-fluid">
        <h2>Oferta</h2>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-2 col-md-offset-1 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><i class="fa fa-bar-chart" aria-hidden="true"></i> E-commerce</div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu velit non ligula hendrerit venenatis eget sit amet
                        magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus efficitur
                        convallis. Sed varius mauris leo, ut pulvinar arcu suscipit a. Maecenas quam orci, consectetur eget
                        turpis vitae, luctus porta enim.
                        <div class="text-center button"><button type="button" class="btn btn-primary">Więcej</button></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><i class="fa fa-paint-brush" aria-hidden="true"></i> Frontend</div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu velit non ligula hendrerit venenatis eget sit amet
                        magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus efficitur
                        convallis. Sed varius mauris leo, ut pulvinar arcu suscipit a. Maecenas quam orci, consectetur eget
                        turpis vitae, luctus porta enim.
                        <div class="text-center button"><button type="button" class="btn btn-primary">Więcej</button></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><i class="fa fa-comments" aria-hidden="true"></i> Blogi</div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu velit non ligula hendrerit venenatis eget sit amet
                        magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus efficitur
                        convallis. Sed varius mauris leo, ut pulvinar arcu suscipit a. Maecenas quam orci, consectetur eget
                        turpis vitae, luctus porta enim.
                        <div class="text-center button"><button type="button" class="btn btn-primary">Więcej</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="klienci" class="container-fluid">
        <h2>Klienci</h2>
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <ul class="work-list">
                    <li>
                        <a href="http://supersalon.com.pl/"><img src="img/supersalon.png"></a>
                    </li>
                    <li>
                        <a href="http://medint.com.pl/"><img src="img/medint_logo.jpg"></a>
                    </li>
                    <li>
                        <a href="http://wsbfrontend.pl/"><img src="img/wsbfront.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="contact" class="container-fluid">
        <h2>Kontakt</h2>
        <div class="row" ng-app="">
            <div class="col-md-3 col-md-offset-3">
                <h3>Moje Dane</h3>
                <ul>
                    <li><i class="fa fa-address-card" aria-hidden="true"></i> Mateusz Furmanik <br>ul. Kasztanowa 33/13 <br>83-112
                        Rokitki
                    </li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> kontakt@mfurmanik.pl</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> 605-488-242</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Napisz do mnie</h3>
                <form novalidate name="myForm">
                    <div class="form-group" ng-class="{'has-error': myForm.name.$dirty && myForm.name.$invalid}">
                        <label for="name">Twoje Imie</label>
                        <!-- TODO Length and required -->
                        <input type="text" class="form-control" id="name" name="name" placeholder="Imie" ng-required="true" ng-minlength="5" ng-model="name">
                        <p class="help-bloc" ng-if="myForm.name.$dirty && myForm.name.$invalid">Pole wymagane, minimum 5 znaków!</p>
                    </div>
                    <div class="form-group" ng-class="{'has-error': myForm.email.$dirty && myForm.email.$invalid}">
                        <label for="email">Adres Email </label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-required="true" ng-model="vm.person.email">
                        <p class="help-block" ng-if="myForm.email.$dirty">To pole jest wymagane!</p>
                        <p class="help-block" ng-if="myForm.email.$dirty && myForm.email.$invalid">Adres musi mieć format: name@example.pl!</p>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="comment">Treść wiadomości:</label>
                            <textarea class="form-control" rows="5" id="comment" ng-minlength="10">
                        </textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="vm.submit(myForm)" ng-disabled="myForm.$invalid">Wyślij</button>
                </form>
            </div>
        </div>

    </section>
    <footer class="text-center">Wszystkie prawa zastrzeżone &copy 2017</footer>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/bc3d716bf5.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>